<style>
    .polls_required_field {display:None}
</style>

{% if poll.is_expired %}
<div id="note">This poll is now closed</div>
{% endif %}

<h2>{{ poll.question }}</h2>
{% if has_voted %}
    <strong>You have already voted. See the <a href="{{ poll.get_absolute_results_url }}">results.</a></strong>
    <ul>
        {% for choice in poll.pollchoice_set.all %}
		<li>{% ifequal choice.id user_choice.choice.id %}
				&rarr;&nbsp;<strong>{{ choice.choice }}</strong>
			{% else %}
				&nbsp;&nbsp;{{ choice.choice }}
			{% endifequal %}</li>
        {% endfor %}
    </ul>
{% else %}
    {% if not poll.is_expired %}<form action="." method="POST"> {% endif %}
        <input type='text' name='email' class='polls_required_field' value='valid_email'/>
        <input type='text' name='username' class='polls_required_field'/>
        {% for choice in poll.pollchoice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
        {% endfor %}
		{% if poll.is_expired %}
			<p><em>This poll is now closed.</em>See the <a href="{{ poll.get_absolute_results_url }}">results.</a></p>
		{% else %}
	        {% if must_login_to_vote %}
	            <p><em>You must be logged in to vote!</em></p>
	        {% else %}
	           <p><input type="submit" value="Vote"></p>
	        {% endif %}
        {% endif %}
   {% if not poll.is_expired %}</form>{% endif %}
{% endif %}